/* Curso CSS estilos aprenderaprogramar.com*/
*{font-family: arial;}
body {
	border-style: dotted;
    border-width: 2px;
    margin: 0 auto;
    text-align: center;
    width: 1300px;
	}
div {border-style: solid; border-width:2px;
margin:7px; padding:7px;
 background-color: #FFEFD5; }
/*La anchura del contenido de la caja 1 es:
 410 - 14 de margin - 4 de border - 14 de padding, resulta 378 px*/
#caja1{ border-color:red;}
#caja2{ margin:0 7px 7px 7px; border-color:blue;
 width:75px; float:left; height:200px; }
/*Ancho total 410 px - 8px bordes - 21 px de margin - 28 de padding -75px contenido caja 2
 obtenemos 278 px*/
#caja3{ margin:0 7px 7px 0px; border-color:green;
 width:278px; float: left; height: 300px;}
#caja4{border-color:orange; clear:both; height:55px;}